.box {
  background: #008f114b;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(92, 241, 73, 0.788);
  border: 3px solid #00ff41;
  border-radius: 10px;
  color: white;
  padding: 20px;
}

.box:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
  pointer-events: none;
  opacity: 0;
}

.box:hover:before {
  left: -50%;
  transform: skewX(-5deg);
  opacity: 1;
}



